NODE_ENV=development
DATABASE=mongodb://localhost/slasherv0
PORT=9797
SECRET=123



NODE_ENV=production
DATABASE=mongodb://k97admin:FfdfuFLxBwLyOqKD@k97-slasher-shard-00-00-rrbzw.mongodb.net:27017,k97-slasher-shard-00-01-rrbzw.mongodb.net:27017,k97-slasher-shard-00-02-rrbzw.mongodb.net:27017/k97v6?ssl=true&replicaSet=k97-slasher-shard-0&authSource=admin
PORT=9797
SECRET=123
