
* { box-sizing: border-box}

body {
  line-height: 1.5;
  color: #252527;
  background: #F0F3F6;
  overflow-y:scroll;
      -webkit-font-smoothing: antialiased;
}
body, body input, body textarea, body button, body select {
  font-family: 'Avenir Next',-apple-system, BlinkMacSystemFont, sans-serif;
}

.ft-serif {
  font-family: 'Alegreya';
}

header {
  z-index: 9999;
}

.bg-blue-hero {
  background: #CCE1F2;
  /* #CCE1F2 //d6eafa
  background-image: linear-gradient(120deg, #c2e9fb 0%, #a1c4fd 100%);*/
}
.sec-clr {
  color: #23CC81;
}
.main-content {
  position: relative;
  z-index: 99;
}

.body-content {
  margin-top:70px;
}
@media(max-width: 959px) {

.body-content {
  margin-top:100px;
}
}

@media(max-width: 959px) {
  .hero--txt {
    text-align: center;
  }
}

.hero--txt {
  position: relative;
  z-index: 999;

}

.hero--img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 800px;
  height: 800px;
  z-index: 998;
  background: url(../img/hero-img.png) no-repeat 0% 100%;
  background-size: 814px;
}

.bg--journal {
  background: url("../img/science.png") repeat;
    background-size: 30%;
}

.journal--header, .journal--subtitle {
  position: relative;
  top: 8px;
}
.link {
  cursor: pointer;
}



select {
    height: 40px;
    background: #fff;
    border-radius: 0;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
}


/** Ripple **/
/*html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #4e4e4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.r-outer {
  display: table-cell;
  width: 40rem;
  height: 40rem;
  background-color: #C1D9EC;
  border-radius: 50%;
  vertical-align: middle;
  position: absolute;
}

.r-middle {
  display: table-cell;
  width: 30rem;
  height: 30rem;
  background-color: #B7D1E5;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 auto;
  position: absolute;
}

.r-inner {
  display: table;
  background-color: #ABC9E0;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  position: absolute;
}
*/

.rippler--text {
  display: table-cell;
  font-size: 10rem;
  vertical-align: middle;
  font-weight: 200;
}

/**https://codepen.io/anon/pen/rwNEKL**/
