/*
Pulsating CSS
https://jsbin.com/hoxokeheto/1/edit?output
*/
* { -webkit-box-sizing: border-box; box-sizing: border-box}

@font-face {
    font-family: 'FGB';
    src: url('../fonts/franklingothic-book-webfont.eot');
    src: url('../fonts/franklingothic-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/franklingothic-book-webfont.woff2') format('woff2'),
         url('../fonts/franklingothic-book-webfont.woff') format('woff'),
         url('../fonts/franklingothic-book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  line-height: 1.5;
  color: #252527;
  background: #F0F3F6;
  overflow-y:scroll;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, body input, body textarea, body button, body select,.ft-serif  {
  font-family: 'FGB', 'Avenir Next', -apple-system, BlinkMacSystemFont, Roboto,"Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


h1, h2, h3, h4, h5, h6, .ft-head {
  font-family: -apple-system, BlinkMacSystemFont, Roboto,"Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.kheader {
    -webkit-box-shadow: 0 1px 1px #e1e1e1;
            box-shadow: 0 1px 1px #e1e1e1;
}

.kheader nav {
  background: rgba(255, 255, 255, 0.96);
}

header {
  z-index: 9999;
}

.ka-link, .measure a, .measure-wide a {
  cursor: pointer;
  border: solid #5F91F5;
  border-width: 0 0 1px;
  color: #5F91F5;
  text-decoration: none;
}

.main-content {
  position: relative;
  z-index: 99;
}

.body-content {
  margin-top:70px;
}

.knav a{
  padding: 1.75em 0 1.64em;
}

@media(max-width: 479px) {
  .hero-img-container{
    display: none;
  }
}

@media(max-width: 959px) {
  .body-content {
    margin-top: 94px;
  }

  .knav a{
    padding: 1.0em 0 1.0em;
  }

}

@media(max-width: 959px) {
  .hero--txt {
    text-align: center;
  }
}

.hero--txt {
  position: relative;
  z-index: 999;
}

.yellow-txt {
  color: #FEEE54;
}

.bg--journal {
  background: url("../img/science1.png") repeat;
  background-size: 30%;
}

.journal--header, .journal--subtitle {
  position: relative;
  top: 8px;
}

.link {
  cursor: pointer;
}

select {
  height: 40px;
  background: #fff;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0 transparent inset;
          box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color .1s ease,border-color .1s ease;
  -o-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
}


.ka-list {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 1.0em;
     -moz-column-gap: 1.0em;
          column-gap: 1.0em;
}

.ka-work-list {
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 1.0em;
     -moz-column-gap: 1.0em;
          column-gap: 1.0em;
}

.ka-list-item, .ka-work-list-item {
    display: block;
    margin:0 0 1.0em;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;

  page-break-inside: avoid; /* For Firefox. */
  -webkit-column-break-inside: avoid; /* For Chrome & friends. */
  break-inside: avoid; /* For standard browsers like IE. :-) */
  cursor: default!important;
}
.ka-list-item:hover, .ka-work-list-item:hover {
    cursor: pointer;
  -webkit-box-shadow:0 12px 6px 2px #cdcdcd;
          box-shadow:0 12px 6px 2px #cdcdcd
}

@media (max-width: 599px) {
    .ka-list,.ka-work-list {
        -webkit-column-count: 1;
           -moz-column-count: 1;
                column-count: 1;
    }
}

@media (min-width: 600px) and (max-width: 959px) {
    .ka-list,.ka-work-list {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
    }
}

@media (min-width: 960px) and (max-width: 1279px) {
    .ka-list,.ka-work-list {
        -webkit-column-count: 3;
           -moz-column-count: 3;
                column-count: 3;
    }
}

@media (min-width: 1280px)  {
    .ka-work-list {
        -webkit-column-count: 4;
           -moz-column-count: 4;
                column-count: 4;
    }
}

.ka-work-list-item img  {
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	-webkit-filter: grayscale(90%);
	        filter: grayscale(90%);
}
.ka-work-list-item:hover img  {
	-webkit-filter: grayscale(0%);
	        filter: grayscale(0%);
}



.passphrase-form input,
.passphrase-form button {
  height: 50px;
  vertical-align: middle;
}

.passphrase-form button{
  border: none;
  cursor: pointer;
}
.passphrase-form button i{
  position: relative;
}




/**
* HOMEPAGE
**/
.kmain {
  background-image: -webkit-gradient(linear, left top, right top, from(#2575fc), to(#6a11cb));
  background-image: -webkit-linear-gradient(left, #2575fc 0%, #6a11cb 100%);
  background-image: -o-linear-gradient(left, #2575fc 0%, #6a11cb 100%);
  background-image: linear-gradient(to right, #2575fc 0%, #6a11cb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 40px;
}

.hero-img {
  display: table;
  position: absolute;
  top: 20%;
  right: 22%;
  width: 20rem;
  height: 20rem;
  padding: 3.25rem;
  border: 1px solid #dedede;
  border-radius: 50%;
}

.hero-img .hero-content {
  width: 20rem;
  height: 20rem;
  padding: 3.25rem;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
}

.hero-img .hero-content .hero-img-wrapper {
  display: block;
  min-width: 13rem;
  position: relative;
  z-index: 2;
  min-height: 13rem;
  border-radius: 50%;
  padding: 4rem;
  text-align: center;
  background: #fff;
  border-radius: #cfcfcf;
  -webkit-box-shadow: 0 0 50px -1px #cfcfcf;
          box-shadow: 0 0 50px -1px #cfcfcf;
}

.hero-img .hero-content .hero-bg-circle {
  position: absolute;
  -webkit-transform-origin: 50% 12.5em;
      -ms-transform-origin: 50% 12.5em;
          transform-origin: 50% 12.5em;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  z-index: 0;
}

.hero-img .hero-content .hero-bg-circle-two {
  top: calc(50% - 8.8em);
  left: calc(50% - 4em);
  background-image: -webkit-linear-gradient(110deg, #b721ff 0%, #21d4fd 100%);
  background-image: -o-linear-gradient(110deg, #b721ff 0%, #21d4fd 100%);
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  -webkit-transform: rotateZ(-34deg);
      -ms-transform: rotate(-34deg);
          transform: rotateZ(-34deg);
}

.hero-img .hero-content .hero-bg-circle-one {
  top: calc(50% - 17em);
  left: calc(50% - 8em);
  -webkit-transform: rotateZ(158deg);
      -ms-transform: rotate(158deg);
          transform: rotateZ(158deg);
  background-image: -webkit-gradient(linear, left top, right top, from(#6a11cb), to(#2575fc));
  background-image: -webkit-linear-gradient(left, #6a11cb 0%, #2575fc 100%);
  background-image: -o-linear-gradient(left, #6a11cb 0%, #2575fc 100%);
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.hero-img:after {
  content: "";
  display: block;
}

.hero-img .content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ka-icon-set {
  margin: 0.5em 1.0em;
  opacity: 0.8;
}

.ka-icon-set a {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);
  font-size: 2.0em;
}

.ka-icon-set a {
  margin: 0 0.9em 0 0;
}

.ka-icon-set .twitter:hover {
  color: #2575fc;
}

.ka-icon-set .github:hover {
  color: black;
}

.ka-icon-set .linkedin:hover {
  color: #0077B5;
}
.ka-icon-set .info:hover {
  color: #7d46d0;
}

.ka-hero-link {
  display: inline-block;
  width: 90%;
  background: #fff;
  padding: 1.1em 3.0em 1.0em 2.0em;
  margin: 0.4em 0 0.6em -2px;
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
          transform: skew(20deg);
  border-left: 5px solid #2575fc;
  background: #fff;
  background-size: 5px 100%;
  background-position: 0 0, 100% 0;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  color: black;
  cursor: pointer;
}

.ka-hero-link:hover {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.ka-hero-link:active {
  -webkit-box-shadow: 0 0px 0px transparent;
          box-shadow: 0 0px 0px transparent;
}

.ka-hero-link span {
  display: inline-block;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  vertical-align: text-bottom;
  font-weight: 600;
  font-size: 0.99em;
  width: 90%;
  opacity: 0.6;
  text-align: left;
}

.ka-hero-link i {
  display: inline-block;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  font-size: 2.0em;
  width: 10%;
  text-align: right;
  vertical-align: middle;
}

.admin-section {
  display: none!important
}

.ka-loader {
  text-align: center;
  margin: 50px;
}
.ka-loader i{
  display: inline-block;
  -webkit-animation: spin 1s infinite linear;
  margin: 0;
  line-height: 0;
  font-size: 4.5rem;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
