$color: lighten(#a1c4fd, 15%);
.hero {
  // position: fixed;
  width: 100%;
  // height: 300px;
  top: 0;
  z-index: -1;
}
.mid-gray {

}

.rippler {
  display: table;
  background-color: $color;
  color: lighten(#566FA5, 10%);
  width: 45vh;
  height: 45vh;
  line-height: 200px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 0 0 0 rgba($color, 0.3),
                0 0 0 9em rgba($color, 0.3),
                0 0 0 18em rgba($color, 0.3),
                0 0 0 27em rgba($color, 0.3);
}

.rippler:hover {
  animation: ripple 0.8s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba($color, 0.3),
                0 0 0 9em rgba($color, 0.3),
                0 0 0 18em rgba($color, 0.3),
                0 0 0 27em rgba($color, 0.2),
                0 0 0 36em rgba($color, 0.1);
  }
  100% {
    box-shadow: 0 0 0 9em rgba($color, 0.3),
                0 0 0 18em rgba($color, 0.3),
                0 0 0 27em rgba($color, 0.2),
                0 0 0 36em rgba($color, 0.1),
                0 0 0 45em rgba($color, 0);
  }
}


.kheader {
  position: fixed;
  top: inherit;
  bottom: 0;
}


.klogo {
  display: none;
}

.knav {
  text-align: center;
  a {
    margin: 5px 5%;
  }
}

.kfooter {
  display: none;
}


